main.main-page header .lastest-slider {
  position: relative;
  overflow: hidden;
  max-width: 100vw;
}
main.main-page header .lastest-slider .item {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}
main.main-page header .lastest-slider .item .slider-background {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.586);
  padding: 1rem;
  text-align: center;
}
main.main-page header .lastest-slider .item .slider-background p.date {
  color: var(--color-secondary-whitetext);
}
main.main-page header .lastest-slider .item .slider-background h1.slider-title {
  color: var(--color-primary-whitetext);
}
main.main-page header .lastest-slider .item .slider-background .features {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  color: var(--color-primary-whitetext);
  margin-bottom: 1.4rem;
  font-weight: bolder;
  font-size: 1.2rem;
}
main.main-page header .lastest-slider .item .slider-background .features .icon {
  transform: translateY(2px);
  margin-right: 3px;
}
main.main-page header .lastest-slider .item .slider-background button.detail-button {
  padding: 10px 35px;
  background-color: transparent;
  border: 2px solid var(--color-primary-whitetext);
  color: var(--color-primary-whitetext);
  font-size: 1.2rem;
  transition: background-color 0.5s, color 0.5s;
}
main.main-page header .lastest-slider .item .slider-background button.detail-button:hover {
  background-color: var(--color-primary-whitetext);
  color: var(--color-primary-blue);
}
@media screen and (max-width: 450px) {
  main.main-page header .header h1 {
    font-size: 1.4rem;
    padding: 10px 2rem;
  }
}
@media screen and (max-width: 400px) {
  main.main-page header .header h1 {
    font-size: 1rem;
    padding: 10px 2rem;
  }
  main.main-page header .header span {
    font-size: 0.9rem;
  }
  main.main-page header .header button {
    font-size: 0.9rem;
  }
  main.main-page header .frame {
    max-width: 400px;
  }
  main.main-page header .frame img {
    width: 100%;
  }
}
