.admin-page-sidebar {
  display: flex;
  flex-direction: column;
  h2.header {
    font-size: 0.8rem;
    font-weight: normal;
    color: var(--color-quaternary-text);
    margin-top: 1rem;
  }
  h2.header:first-child {
    margin-top: 0px;
  }
  a {
    color: var(--color-secondary-text);
    padding: 7px;
    border-left: 3px solid transparent;
    font-size: 0.9rem;
    .icon {
      transform: translateY(2px);
    }
  }
  a.active {
    color: var(--color-primary-blue);
  }
  a:hover {
    border-left: 3px solid var(--color-primary-blue);
  }
}
