.admin-page-sidebar {
  padding: 20px;
  border-radius: 10px;
  background-color: var(--color-primary-background);
  box-shadow: var(--boxshadow);
  h1.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.3rem;
    .icon {
      font-size: 1rem;
    }
  }
  .links {
    display: flex;
    flex-direction: column;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.4s;
    h2.header {
      font-size: 0.8rem;
      font-weight: normal;
      color: var(--color-quaternary-text);
      margin-top: 1rem;
    }
    h2.header:first-child {
      margin-top: 10px;
    }
    a {
      color: var(--color-secondary-text);
      padding: 7px;
      border-left: 3px solid transparent;
      font-size: 0.9rem;
      position: relative;
      .icon {
        transform: translateY(2px);
      }
      .notification {
        background-color: var(--color-primary-red);
        color: var(--color-primary-whitetext);
        width: 8px;
        height: 8px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 9px;
        left: 15px;
        font-size: 0.6rem;
      }
    }
    a.active {
      color: var(--color-primary-blue);
    }
    a:hover {
      border-left: 3px solid var(--color-primary-blue);
    }
  }
  .links.open {
    max-height: 550px;
    transition: max-height 0.6s;
  }
}
@media screen and (max-width: 768px) {
  .admin-page-sidebar {
    box-shadow: none;
    .links {
      max-height: 2000px;
      display: none;
    }
    .links.open {
      max-height: 2000px;
      display: flex;
    }
  }
}
