.admin-page-sidebar {
  display: flex;
  flex-direction: column;
}
.admin-page-sidebar h2.header {
  font-size: 0.8rem;
  font-weight: normal;
  color: var(--color-quaternary-text);
  margin-top: 1rem;
}
.admin-page-sidebar h2.header:first-child {
  margin-top: 0px;
}
.admin-page-sidebar a {
  color: var(--color-secondary-text);
  padding: 7px;
  border-left: 3px solid transparent;
  font-size: 0.9rem;
}
.admin-page-sidebar a .icon {
  transform: translateY(2px);
}
.admin-page-sidebar a.active {
  color: var(--color-primary-blue);
}
.admin-page-sidebar a:hover {
  border-left: 3px solid var(--color-primary-blue);
}
