.App {
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}
h1.title {
  font-size: 2rem;
  color: var(--color-primary-text);
  margin: 2rem;
  position: relative;
}
h1.title::after {
  content: "";
  width: 70px;
  height: 70px;
  background-image: url("../public/images/pattern.png");
  background-position: center;
  background-size: contain;
  position: absolute;
  top: -30%;
  left: -20px;
  transform: rotate(10deg);
}
@media screen and (max-width: 768px) {
  h1.title {
    font-size: 1.7rem;
  }
  h1.title::after {
    width: 60px;
    height: 60px;
  }
}
@media screen and (max-width: 500px) {
  h1.title {
    font-size: 1.4rem;
  }
  h1.title::after {
    width: 50px;
    height: 50px;
  }
}
