.admin-page {
  margin: 3rem 0px;
  padding: var(--page-padding);
  display: grid;
  grid-template-columns: 220px 1fr;
  gap: 3rem;
}
.admin-page .sidebar {
  padding: 20px;
  border-radius: 10px;
  background-color: var(--color-primary-background);
  box-shadow: var(--boxshadow);
}
.admin-page .content {
  padding: 30px;
  border-radius: 10px;
  background-color: var(--color-primary-background);
  box-shadow: var(--boxshadow);
}
