.araba-page {
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 2rem;
  padding: var(--page-padding);
  margin: 50px 0px;
}
@media screen and (max-width: 768px) {
  .araba-page {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 0px;
  }
}
