.ilan-ver {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 0px;
}
.ilan-ver .stage-container {
  max-width: 80vh;
  overflow: hidden;
}
.ilan-ver .stage-container h2.title {
  color: var(--color-primary-text);
  margin-bottom: 20px;
}
.ilan-ver .stage-container p.stage-info {
  font-size: 0.9rem;
  color: var(--color-tertiary-text);
}
.ilan-ver .stage-container .stage-inner-container {
  display: flex;
  align-items: center;
  transition: transform 0.4s;
}
.ilan-ver .stage-container .stage-inner-container .stage {
  min-width: 80vh;
}
.ilan-ver .stage-container .stage-inner-container input {
  background-color: var(--color-secondary-background);
}
.ilan-ver .stage-container .stage-inner-container p.element-description {
  font-size: 0.8rem;
  color: var(--color-quaternary-text);
  margin-left: 5px;
}
.ilan-ver .stage-container .stage-inner-container .form-element {
  display: flex;
  flex-direction: column;
}
.ilan-ver .stage-container .stage-inner-container .form-element span.optional {
  font-size: 0.7rem;
  color: var(--color-tertiary-text);
}
.ilan-ver .stage-container .stage-inner-container .form-element input {
  width: 100%;
}
.ilan-ver .stage-container .stage-inner-container .form-element-double {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.ilan-ver .stage-container .stage-inner-container .form-element-double span {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.ilan-ver .stage-container .stage-inner-container .form-element-dropdown {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--color-quaternary-text);
  border-radius: 10px;
}
.ilan-ver .stage-container .stage-inner-container .form-element-dropdown button {
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
}
.ilan-ver .stage-container .stage-inner-container .form-element-dropdown button span.optional {
  font-size: 0.8rem;
  color: var(--color-quaternary-text);
}
.ilan-ver .stage-container .stage-inner-container .form-element-dropdown .dropdown.open {
  padding: 0px 10px 10px 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
  overflow: hidden;
}
.ilan-ver .stage-container .stage-inner-container .form-element-dropdown .dropdown.open .dropdown-item {
  background-color: var(--color-secondary-background);
  padding: 8px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}
.ilan-ver .stage-container .stage-inner-container .form-element-dropdown .dropdown.open .dropdown-item.selected {
  background-color: var(--color-tertiary-blue);
  color: var(--color-primary-whitetext);
}
.ilan-ver .stage-container .stage-inner-container .form-element-dropdown .dropdown.close {
  display: none;
}
.ilan-ver .stage-container .stage-inner-container .stage-1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.ilan-ver .stage-container .stage-inner-container .stage-1 button {
  background-color: var(--color-primary-background);
  padding: 20px;
  border-radius: 10px;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-secondary-text);
  transition: color 0.2s, background-color 0.2s;
}
.ilan-ver .stage-container .stage-inner-container .stage-1 button div.left {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
.ilan-ver .stage-container .stage-inner-container .stage-1 button div.left span {
  font-weight: bold;
  color: var(--color-primary-text);
  transition: color 0.2s;
}
.ilan-ver .stage-container .stage-inner-container .stage-1 button div.left img {
  max-width: 80px;
}
.ilan-ver .stage-container .stage-inner-container .stage-1 button:hover {
  background-color: var(--color-primary-blue);
  color: var(--color-secondary-whitetext);
}
.ilan-ver .stage-container .stage-inner-container .stage-1 button:hover div.left span {
  color: var(--color-primary-whitetext);
}
.ilan-ver .stage-container .stage-inner-container .stage-2 .personal-information-container {
  background-color: var(--color-primary-background);
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.ilan-ver .stage-container .stage-inner-container .stage-2 .personal-information-container label {
  color: var(--color-secondary-text);
}
.ilan-ver .stage-container .stage-inner-container .stage-2 .personal-information-container input {
  color: var(--color-primary-text);
}
.ilan-ver .stage-container .stage-inner-container .stage-3 .ilan-ekle-images {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--color-primary-background);
  padding: 20px;
  border-radius: 10px;
}
.ilan-ver .stage-container .stage-inner-container .stage-3 .ilan-ekle-images .images-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
}
.ilan-ver .stage-container .stage-inner-container .stage-3 .ilan-ekle-images .images-list label {
  min-width: 200px;
  max-width: 300px;
  aspect-ratio: 16 / 9;
  border-radius: 10px;
  overflow: hidden;
}
.ilan-ver .stage-container .stage-inner-container .stage-3 .ilan-ekle-images .images-list label .frame {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.ilan-ver .stage-container .stage-inner-container .stage-3 .ilan-ekle-images .images-list label .frame img {
  width: 100%;
}
.ilan-ver .stage-container .stage-inner-container .stage-3 .ilan-ekle-images .images-list label .frame button.remove-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.2rem;
  color: var(--color-primary-red);
}
.ilan-ver .stage-container .stage-inner-container .stage-3 .ilan-ekle-images .images-list label.drop-area {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-secondary-background);
  transition: background-color 0.2s;
}
.ilan-ver .stage-container .stage-inner-container .stage-3 .ilan-ekle-images .images-list label.drop-area .placeholder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--color-secondary-text);
  transition: color 0.2s;
}
.ilan-ver .stage-container .stage-inner-container .stage-3 .ilan-ekle-images .images-list label.drop-area .placeholder .icon {
  font-size: 2rem;
}
.ilan-ver .stage-container .stage-inner-container .stage-3 .ilan-ekle-images .images-list label.drop-area:hover {
  background-color: var(--color-primary-blue);
}
.ilan-ver .stage-container .stage-inner-container .stage-3 .ilan-ekle-images .images-list label.drop-area:hover .placeholder {
  color: var(--color-primary-whitetext);
}
.ilan-ver .stage-container .stage-inner-container .stage-4 {
  border-radius: 10px;
  padding: 20px;
  background-color: var(--color-primary-background);
}
.ilan-ver .stage-container .stage-inner-container .stage-4 .konut-ekle-ilan-bilgileri,
.ilan-ver .stage-container .stage-inner-container .stage-4 .otomobil-ekle-ilan-bilgileri {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.ilan-ver .stage-container .stage-inner-container .stage-4 .konut-ekle-ilan-bilgileri .form-element,
.ilan-ver .stage-container .stage-inner-container .stage-4 .otomobil-ekle-ilan-bilgileri .form-element {
  display: flex;
  flex-direction: column;
}
.ilan-ver .stage-container .stage-inner-container .stage-4 .konut-ekle-ilan-bilgileri .form-element label,
.ilan-ver .stage-container .stage-inner-container .stage-4 .otomobil-ekle-ilan-bilgileri .form-element label {
  color: var(--color-secondary-text);
  padding-bottom: 8px;
}
.ilan-ver .stage-container .stage-inner-container .stage-4 .konut-ekle-ilan-bilgileri .form-element .ql-picker,
.ilan-ver .stage-container .stage-inner-container .stage-4 .otomobil-ekle-ilan-bilgileri .form-element .ql-picker,
.ilan-ver .stage-container .stage-inner-container .stage-4 .konut-ekle-ilan-bilgileri .form-element .ql-editor.ql-blank::before,
.ilan-ver .stage-container .stage-inner-container .stage-4 .otomobil-ekle-ilan-bilgileri .form-element .ql-editor.ql-blank::before,
.ilan-ver .stage-container .stage-inner-container .stage-4 .konut-ekle-ilan-bilgileri .form-element .ql-toolbar,
.ilan-ver .stage-container .stage-inner-container .stage-4 .otomobil-ekle-ilan-bilgileri .form-element .ql-toolbar {
  color: var(--color-primary-text) !important;
}
.ilan-ver .stage-container .stage-inner-container .stage-4 .konut-ekle-ilan-bilgileri .form-element input,
.ilan-ver .stage-container .stage-inner-container .stage-4 .otomobil-ekle-ilan-bilgileri .form-element input,
.ilan-ver .stage-container .stage-inner-container .stage-4 .konut-ekle-ilan-bilgileri .form-element select,
.ilan-ver .stage-container .stage-inner-container .stage-4 .otomobil-ekle-ilan-bilgileri .form-element select,
.ilan-ver .stage-container .stage-inner-container .stage-4 .konut-ekle-ilan-bilgileri .form-element textarea,
.ilan-ver .stage-container .stage-inner-container .stage-4 .otomobil-ekle-ilan-bilgileri .form-element textarea,
.ilan-ver .stage-container .stage-inner-container .stage-4 .konut-ekle-ilan-bilgileri .form-element .quill,
.ilan-ver .stage-container .stage-inner-container .stage-4 .otomobil-ekle-ilan-bilgileri .form-element .quill {
  width: 100%;
  color: var(--color-primary-text);
}
.ilan-ver .stage-container .stage-inner-container .stage-4 .konut-ekle-ilan-bilgileri .form-element span.optional,
.ilan-ver .stage-container .stage-inner-container .stage-4 .otomobil-ekle-ilan-bilgileri .form-element span.optional {
  font-size: 0.7rem;
  color: var(--color-tertiary-text);
  margin-left: 5px;
}
.ilan-ver .stage-container .stage-inner-container .stage-4 .konut-ekle-ilan-bilgileri .form-element-double,
.ilan-ver .stage-container .stage-inner-container .stage-4 .otomobil-ekle-ilan-bilgileri .form-element-double {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.ilan-ver .stage-container .stage-inner-container .stage-4 .konut-ekle-ilan-bilgileri .form-element-double label,
.ilan-ver .stage-container .stage-inner-container .stage-4 .otomobil-ekle-ilan-bilgileri .form-element-double label {
  color: var(--color-secondary-text);
  padding-bottom: 8px;
}
.ilan-ver .stage-container .stage-inner-container .stage-4 .konut-ekle-ilan-bilgileri .form-element-double input,
.ilan-ver .stage-container .stage-inner-container .stage-4 .otomobil-ekle-ilan-bilgileri .form-element-double input,
.ilan-ver .stage-container .stage-inner-container .stage-4 .konut-ekle-ilan-bilgileri .form-element-double select,
.ilan-ver .stage-container .stage-inner-container .stage-4 .otomobil-ekle-ilan-bilgileri .form-element-double select,
.ilan-ver .stage-container .stage-inner-container .stage-4 .konut-ekle-ilan-bilgileri .form-element-double textarea,
.ilan-ver .stage-container .stage-inner-container .stage-4 .otomobil-ekle-ilan-bilgileri .form-element-double textarea,
.ilan-ver .stage-container .stage-inner-container .stage-4 .konut-ekle-ilan-bilgileri .form-element-double .quill,
.ilan-ver .stage-container .stage-inner-container .stage-4 .otomobil-ekle-ilan-bilgileri .form-element-double .quill {
  width: 100%;
  color: var(--color-primary-text);
}
.ilan-ver .stage-container .stage-inner-container .stage-4 .konut-ekle-ilan-bilgileri .form-element-double span:not(.optional),
.ilan-ver .stage-container .stage-inner-container .stage-4 .otomobil-ekle-ilan-bilgileri .form-element-double span:not(.optional) {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.ilan-ver .stage-container .stage-inner-container .stage-4 .konut-ekle-ilan-bilgileri .form-element-double span:not(.optional) span.optional,
.ilan-ver .stage-container .stage-inner-container .stage-4 .otomobil-ekle-ilan-bilgileri .form-element-double span:not(.optional) span.optional {
  font-size: 0.7rem;
  color: var(--color-tertiary-text);
  margin-left: 5px;
}
.ilan-ver .stage-container .stage-inner-container .stage-5 {
  background-color: var(--color-primary-background);
  border-radius: 10px;
  padding: 20px;
}
.ilan-ver .stage-container .stage-inner-container .stage-5 .konut-stage-5,
.ilan-ver .stage-container .stage-inner-container .stage-5 .otomobil-stage-5 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.ilan-ver .stage-container .stage-inner-container .stage-5 .konut-stage-5 .form-element-dropdown,
.ilan-ver .stage-container .stage-inner-container .stage-5 .otomobil-stage-5 .form-element-dropdown {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--color-quaternary-text);
  border-radius: 10px;
}
.ilan-ver .stage-container .stage-inner-container .stage-5 .konut-stage-5 .form-element-dropdown button,
.ilan-ver .stage-container .stage-inner-container .stage-5 .otomobil-stage-5 .form-element-dropdown button {
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
}
.ilan-ver .stage-container .stage-inner-container .stage-5 .konut-stage-5 .form-element-dropdown button span,
.ilan-ver .stage-container .stage-inner-container .stage-5 .otomobil-stage-5 .form-element-dropdown button span {
  color: var(--color-secondary-text);
}
.ilan-ver .stage-container .stage-inner-container .stage-5 .konut-stage-5 .form-element-dropdown button span.optional,
.ilan-ver .stage-container .stage-inner-container .stage-5 .otomobil-stage-5 .form-element-dropdown button span.optional {
  font-size: 0.7rem;
  color: var(--color-quaternary-text);
  margin-left: 5px;
}
.ilan-ver .stage-container .stage-inner-container .stage-5 .konut-stage-5 .form-element-dropdown .dropdown.open,
.ilan-ver .stage-container .stage-inner-container .stage-5 .otomobil-stage-5 .form-element-dropdown .dropdown.open {
  padding: 0px 10px 10px 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
  overflow: hidden;
}
.ilan-ver .stage-container .stage-inner-container .stage-5 .konut-stage-5 .form-element-dropdown .dropdown.open .dropdown-item,
.ilan-ver .stage-container .stage-inner-container .stage-5 .otomobil-stage-5 .form-element-dropdown .dropdown.open .dropdown-item {
  background-color: var(--color-secondary-background);
  color: var(--color-primary-text);
  padding: 8px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}
.ilan-ver .stage-container .stage-inner-container .stage-5 .konut-stage-5 .form-element-dropdown .dropdown.open .dropdown-item.selected,
.ilan-ver .stage-container .stage-inner-container .stage-5 .otomobil-stage-5 .form-element-dropdown .dropdown.open .dropdown-item.selected {
  background-color: var(--color-tertiary-blue);
  color: var(--color-primary-whitetext);
}
.ilan-ver .stage-container .stage-inner-container .stage-5 .konut-stage-5 .form-element-dropdown .dropdown.close,
.ilan-ver .stage-container .stage-inner-container .stage-5 .otomobil-stage-5 .form-element-dropdown .dropdown.close {
  display: none;
}
.ilan-ver .stage-container .stage-inner-container button.next-button {
  padding: 10px;
  background-color: var(--color-primary-blue);
  color: var(--color-primary-whitetext);
  border-radius: 10px;
  font-size: 1rem;
}
.ilan-ver .stage-container .stage-inner-container button.next-button:disabled {
  cursor: not-allowed;
  background-color: var(--color-tertiary-whitetext);
}
.ilan-ver .stage-container .stage-inner-container button.back-button {
  font-size: 1rem;
  color: var(--color-primary-text);
}
@media screen and (max-width: 768px) {
  .ilan-ver .stage-container {
    max-width: 90vw;
  }
  .ilan-ver .stage-container .stage-inner-container .form-element-double {
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;
  }
  .ilan-ver .stage-container .stage-inner-container .stage {
    min-width: 90vw;
  }
}
