nav.navbar-pc {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--page-padding);
  text-align: center;
  box-shadow: var(--boxshadow);
  transition: padding 0.3s;
  background-color: var(--color-primary-background);
  position: sticky;
  top: 0px;
  z-index: 99999;
}
nav.navbar-pc .navbar-logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: bold;
}
nav.navbar-pc .navbar-logo .frame {
  max-width: 40px;
  overflow: hidden;
}
nav.navbar-pc .navbar-logo .frame img {
  width: 100%;
}
nav.navbar-pc .navbar-links {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-primary-text);
  gap: 1rem;
}
nav.navbar-pc .navbar-links a {
  padding: 20px 15px;
  border-radius: 4px;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  transition: transform 0.2s;
}
nav.navbar-pc .navbar-links a:not(.active):hover {
  transform: translateY(-5px);
}
nav.navbar-pc .navbar-links a.active {
  border-bottom: 4px solid var(--color-primary-blue);
}
nav.navbar-pc .contact {
  display: flex;
  align-items: center;
  gap: 1rem;
}
nav.navbar-pc .contact .navbar-contact {
  display: inline-block;
  padding: 10px 10px;
  color: var(--color-primary-blue);
  background-color: var(--color-primary-background);
  font-size: 1rem;
  transition: color 0.4s;
  cursor: pointer;
}
nav.navbar-pc .contact .navbar-contact:hover {
  color: var(--color-primary-text);
}
nav.navbar-pc .contact a {
  display: inline-block;
  padding: 10px 30px;
  background-color: var(--color-primary-blue);
  color: var(--color-primary-whitetext);
  border-radius: 100px;
  font-size: 1rem;
  font-weight: bold;
  transition: color 0.4s, background-color 0.4s;
  cursor: pointer;
}
nav.navbar-pc .contact a:hover {
  background-color: var(--color-primary-background);
  color: var(--color-primary-blue);
}
nav.navbar-mobile {
  display: flex;
  flex-direction: column;
  background-color: var(--color-primary-background);
  position: sticky;
  top: 0px;
  z-index: 99999;
  width: 100%;
  border-bottom: 2px solid var(--color-quaternary-text);
}
nav.navbar-mobile .navbar-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  padding: 10px 20px;
}
nav.navbar-mobile .navbar-logo .frame {
  max-width: 40px;
  overflow: hidden;
}
nav.navbar-mobile .navbar-logo .frame img {
  width: 100%;
}
nav.navbar-mobile .navbar-logo .mobile-input label {
  font-size: 2rem;
}
nav.navbar-mobile .navbar-logo .mobile-input input {
  display: none;
}
nav.navbar-mobile .navbar-links {
  display: none;
  flex-direction: column;
  color: var(--color-primary-text);
  overflow: hidden;
  height: calc(100vh - 64px);
}
nav.navbar-mobile .navbar-links a,
nav.navbar-mobile .navbar-links button {
  padding: 10px;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  transition: transform 0.6s;
  font-size: 1rem;
  text-align: left;
}
nav.navbar-mobile .navbar-links a.ilan-ver {
  background-color: var(--color-primary-blue);
  color: var(--color-primary-whitetext);
  text-align: center;
  font-size: 1.2rem;
}
nav.navbar-mobile .navbar-links.open {
  display: flex;
}
