nav.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--page-padding);
  text-align: center;
  box-shadow: var(--boxshadow);
  transition: padding 0.3s;
  background-color: var(--color-primary-background);
  .navbar-logo {
    a {
      display: flex;
      align-items: center;
      gap: 10px;
      font-weight: bold;
      .frame {
        max-width: 40px;
        overflow: hidden;
        img {
          width: 100%;
        }
      }
    }
    .mobile-input {
      display: none;
      label {
        font-size: 2rem;
      }
      input {
        display: none;
      }
    }
  }
  .navbar-links {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-primary-text);
    gap: 1rem;
    a {
      padding: 20px 15px;
      border-radius: 4px;
      border-top: 4px solid transparent;
      border-bottom: 4px solid transparent;
      transition: transform 0.2s;
    }
    a:not(.active):hover {
      transform: translateY(-5px);
    }
    a.active {
      border-bottom: 4px solid var(--color-primary-blue);
    }
  }
  .contact {
    display: flex;
    align-items: center;
    gap: 1rem;
    .navbar-contact {
      display: inline-block;
      padding: 10px 10px;
      color: var(--color-primary-blue);
      background-color: var(--color-primary-background);
      font-size: 1rem;
      transition: color 0.4s;
      cursor: pointer;
    }
    .navbar-contact:hover {
      color: var(--color-primary-text);
    }
    a {
      display: inline-block;
      padding: 10px 30px;
      background-color: var(--color-primary-blue);
      color: var(--color-primary-whitetext);
      border-radius: 100px;
      font-size: 1rem;
      font-weight: bold;
      transition: color 0.4s, background-color 0.4s;
      cursor: pointer;
    }
    a:hover {
      background-color: var(--color-primary-background);
      color: var(--color-primary-blue);
    }
  }
}

@media screen and (max-width: 768px) {
  nav.navbar {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    z-index: 10000;
    .navbar-logo {
      z-index: 10000;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px;
      background-color: var(--color-primary-background);
      .mobile-input {
        display: block;
      }
    }
    .navbar-logo.navbar-open {
      border-bottom: 2px solid var(--color-quaternary-text);
      position: fixed;
      top: 0px;
      left: 0px;
    }
    .navbar-links {
      transform: translateY(-100vh);
      background-color: var(--color-primary-background);
      position: fixed;
      top: 66px;
      left: 0px;
      z-index: 9999;
      width: 100%;
      height: calc(100vh - 148px);
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      transition: transform 0.3s;
      a {
        border: none !important;
        padding: 10px;
        width: 100%;
        text-align: left;
      }
      a:not(.active):hover {
        transform: translateY(0px);
      }
    }
    .navbar-links.navbar-open {
      transform: translateY(0px);
    }
    .contact {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
      transform: translateY(-100vh);
      position: fixed;
      top: calc(100vh - 82px);
      left: 0px;
      z-index: 9999;
      width: 100%;
      transition: transform 0.3s;
      .navbar-contact {
        border-radius: 0px;
      }
      a {
        border-radius: 0px;
      }
      a:hover {
        background-color: var(--color-primary-blue);
        color: var(--color-primary-whitetext);
      }
    }
    .contact.navbar-open {
      transform: translateY(0px);
    }
  }
}
