.araba-sidebar {
  display: flex;
  flex-direction: column;
  background-color: var(--color-primary-background);
  border-radius: 10px;
  box-shadow: var(--boxshadow);
  padding: 20px;
  gap: 1rem;
}
.araba-sidebar h2.title {
  background-color: transparent;
  box-shadow: none;
  padding: 0rem;
  border-radius: 0rem;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color-primary-text);
}
.araba-sidebar h2.title .icon {
  display: none;
  animation: PagesClickAnimation 1s infinite;
}
.araba-sidebar .sidebar-element {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.araba-sidebar .sidebar-element label {
  font-size: 0.8rem;
  color: var(--color-tertiary-text);
}
.araba-sidebar .sidebar-element input,
.araba-sidebar .sidebar-element select {
  color: var(--color-secondary-text);
}
.araba-sidebar .sidebar-element-double {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.araba-sidebar .sidebar-element-double h2.inner-title {
  font-size: 0.8rem;
  color: var(--color-tertiary-text);
  font-weight: normal;
}
.araba-sidebar .sidebar-element-double span {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.araba-sidebar .sidebar-element-double span label {
  font-size: 0.8rem;
  color: var(--color-tertiary-text);
}
.araba-sidebar .sidebar-element-double input,
.araba-sidebar .sidebar-element-double select {
  color: var(--color-secondary-text);
}
.araba-sidebar .buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}
.araba-sidebar .buttons button.submit {
  padding: 8px;
  background-color: var(--color-primary-blue);
  color: var(--color-primary-whitetext);
  font-size: 0.8rem;
  border-radius: 5px;
}
.araba-sidebar .buttons button.submit .icon {
  transform: translateY(1px) scale(1.3);
  margin-left: 6px;
}
.araba-sidebar .buttons button.clear {
  padding: 5px;
  font-size: 0.8rem;
  color: var(--color-secondary-text);
  transition: color 0.4s;
}
.araba-sidebar .buttons button.clear .icon {
  transform: translateY(1px) scale(1.1);
  margin-left: 6px;
}
.araba-sidebar .buttons button.clear:hover {
  color: var(--color-primary-red);
}
@media screen and (max-width: 768px) {
  .araba-sidebar {
    border-radius: 0px;
  }
  .araba-sidebar h2.title {
    background-color: var(--color-secondary-background);
    box-shadow: 0px 4px 10px 3px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    border-radius: 0.5rem;
  }
  .araba-sidebar h2.title .icon {
    display: block;
  }
  .araba-sidebar .mobile-menu {
    max-height: 0px;
    transition: max-height 0.7s;
    overflow: hidden;
  }
  .araba-sidebar .mobile-menu-open {
    max-height: 600px;
  }
}
@keyframes PagesClickAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
